.rating {
   display: flex;
   gap: 10px;
}

.rating i {
   cursor: pointer;
   font-size: 1.5rem;
   color: #ccc;
   transition: color 0.3s ease;
}

.rating i.active,
.rating i:hover,
.rating i:hover~i {
   color: #ffc107;
   /* Highlighted star color */
}